
.header_left {
    background-color: rgba(22, 114, 227, 0.947);
}

.header_letter {
    padding-top: 17px;
    padding-bottom: 20px;
    margin-left: 30px;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}

.login_screen {
    text-align: center;
    color:rgb(96, 96, 103);
    font-family: sans-serif;
}

.login_screen h2 {
    font-size: 25px;
}

.upper {
    line-height: 0.5;
    margin-top: 60px;
    margin-bottom: 50px;
}

.greybox {
    padding-top: 15px;
    width: 525px;
    height: 350px;
    margin: 0 auto 50px auto;
    background: #d4d6d7;
    border-radius: 10px;
    opacity: 0.7;
}

.login_letter {
    font-size: medium;
}

input {
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    border: solid 1px rgb(96, 96, 103);
    width: 350px;
    height: 38px;
    margin-top: 15px;
}

.login_button button {
    background-color: rgb(150, 242, 21);
    border-radius: 10px;
    border: solid 1px rgb(96, 96, 103);
    width: 190px;
    height: 50px;
    margin-top: 17px;
    color:rgb(96, 96, 103)
}

a {
    color:rgb(96, 96, 103);
    margin-top: 20px;
}
