.header-left {
    background-color: rgb(36, 113, 221);
}

.return-button input {
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 10px 10px;
    margin: 10px 10px;
    font-size: 20px;
    color: rgb(29, 28, 28);
    background-color: rgb(230, 138, 25);
    border: solid 1px rgb(0, 0, 6);
    border-radius: 10px;
}

.header-letter {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.login-screen {
    text-align: center;
    color: rgb(96, 96, 103)
}

.upper h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.upper p {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 25px;
}

.login-screen h2{
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.back-square {
    text-align: center;
    margin: 0 auto 50px auto;
    width: 600px;
    height: 380px;
    background-color: rgb(201, 197, 197);
    opacity: 0.8;
    border-radius: 20px;
}

.createaccount-screen input {
    width: 450px;
    height: 45px;
    display:block;
    padding: 10px 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border-radius: 10px;
    border: solid 1px rgb(96, 96, 103);
}

.login-screen input {
    width: 450px;
    height: 45px;
    display:block;
    padding: 10px 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: -5px;
    margin-left: auto;
    text-align: left;
    border-radius: 10px;
    border: solid 1px rgb(96, 96, 103);
}

.login-button button {
    text-align: center;
    width: 300px;
    height: 55px;
    padding: 10px 40px;
    margin-top: 30px;
    color: rgb(29, 28, 28);
    background-color: rgb(131, 234, 76);
    border: solid 1px rgb(96, 96, 103);
    border-radius: 10px;
}